<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Dashboard</h2>
    <a href="/add-resume">Add Resume</a>
    <a href="/search-resume">Search Resume</a>
</body>
</html>
