<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Dashboard</h1>
    <a href="/no.of reqs">no. of reqs</a>
    <a href="/no.of candidates">no. of candidates</a>
    <a href="/recruiters">Go to Recruiters Page</a>

</body>
</html>
