<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recruiters page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>recriters page</h1>
    
    <a href="/upload-resume">upload resumes</a>
    
    <a href="/downloads">download resume</a>
    
    <a href="/search">search resume</a>
    
</body>
</html>